* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
}
.container span {
    font-size: 6.2rem;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
    color: whitesmoke;
}
.container button {
    font-size: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.219);
    padding: 12px 18px;
    border-radius: 11px;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: #000;
    cursor: pointer;
    transition: 0.3s;
}
.bg-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .bg-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .bg-clip{
        width: auto;
        height: 100%;
    }
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}